## Load the data

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Load the data into a dataframe
df_bank = pd.read_csv('./raw_data/bank-additional/bank-additional-full.csv', sep=';')
df_bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

## Overview of the data

In [3]:
df_bank.shape

(41188, 21)

In [4]:
df_bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [5]:
# Rename the columns so that they looks more intuitive
df_bank.columns = ['age', 'job', 'marital', 'education', 'credit_default', 'housing_loan', 'personal_loan', 'contact',
                   'last_contact_month', 'last_contact_day', 'last_contact_duration', 'campaign_contact_times', 
                  'days_from_last_contact', 'previous_campaign_contact', 'previous_campaign_outcome', 
                   'employment_variation_rate', 'consumer_price_index', 'consumer_confidence_index', 
                   'euribor_3m_rate', 'num_of_employees', 'y']
df_bank.head()

,age,job,marital,education,credit_default,housing_loan,personal_loan,contact,last_contact_month,last_contact_day,...,campaign_contact_times,days_from_last_contact,previous_campaign_contact,previous_campaign_outcome,employment_variation_rate,consumer_price_index,consumer_confidence_index,euribor_3m_rate,num_of_employees,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [6]:
# Check if any null value
df_bank.isnull().sum()

age                          0
job                          0
marital                      0
education                    0
credit_default               0
housing_loan                 0
personal_loan                0
contact                      0
last_contact_month           0
last_contact_day             0
last_contact_duration        0
campaign_contact_times       0
days_from_last_contact       0
previous_campaign_contact    0
previous_campaign_outcome    0
employment_variation_rate    0
consumer_price_index         0
consumer_confidence_index    0
euribor_3m_rate              0
num_of_employees             0
y                            0
dtype: int64

In [7]:
# Check if the data types are what we expected
df_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
age                          41188 non-null int64
job                          41188 non-null object
marital                      41188 non-null object
education                    41188 non-null object
credit_default               41188 non-null object
housing_loan                 41188 non-null object
personal_loan                41188 non-null object
contact                      41188 non-null object
last_contact_month           41188 non-null object
last_contact_day             41188 non-null object
last_contact_duration        41188 non-null int64
campaign_contact_times       41188 non-null int64
days_from_last_contact       41188 non-null int64
previous_campaign_contact    41188 non-null int64
previous_campaign_outcome    41188 non-null object
employment_variation_rate    41188 non-null float64
consumer_price_index         41188 non-null float64
consumer_confidence_index    41188 non-null float64
euribor_3m_rate              41188 non-null float64
num_of_employees             41188 non-null float64
y                            41188 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [8]:
# Check how many unique values has each column got
for col in df_bank.columns:
    print(col, ':', len(df_bank[col].unique()))

age : 78
job : 12
marital : 4
education : 8
credit_default : 3
housing_loan : 3
personal_loan : 3
contact : 2
last_contact_month : 10
last_contact_day : 5
last_contact_duration : 1544
campaign_contact_times : 42
days_from_last_contact : 27
previous_campaign_contact : 8
previous_campaign_outcome : 3
employment_variation_rate : 10
consumer_price_index : 26
consumer_confidence_index : 26
euribor_3m_rate : 316
num_of_employees : 11
y : 2

In [9]:
# Create a dataframe, combine the info of data type and number of unique values for each column
def get_columns_info(dataset):
    columns_dict = {}
    for col in df_bank.columns:
        columns_dict[col] = {'type': df_bank[col].dtype, 'num_unique_values': len(df_bank[col].unique())}
    # convert the dictionary to a dataframe
    columns_info = pd.DataFrame(columns_dict).T.sort_values(by='type')
    # Sort the values by data type, so that I can have a closer look at what data cleaning job might require for
    # different type of columns
    return columns_info

get_columns_info(df_bank)

                              type num_unique_values
age                          int64                78
previous_campaign_contact    int64                 8
days_from_last_contact       int64                27
campaign_contact_times       int64                42
last_contact_duration        int64              1544
num_of_employees           float64                11
employment_variation_rate  float64                10
consumer_price_index       float64                26
consumer_confidence_index  float64                26
euribor_3m_rate            float64               316
housing_loan                object                 3
personal_loan               object                 3
contact                     object                 2
last_contact_month          object                10
last_contact_day            object                 5
education                   object                 8
marital                     object                 4
job                         object                12
previous_campaign_outcome   object                 3
credit_default              object                 3
y                           object                 2

### From the above columns info:
###### 1. 'int' and 'float' type columns: 
It looks no data cleaning is required at the moment, as the data types looks right, and there is no missing value. ('num_of_employees' might be an exception, should it be 'int' instead of 'float'? I will leave it to later stage.) I will also have a look at the distributions for the numeric columns later in EDA.
###### 2. 'object' type columns:
The values of 'credit_default', 'housing_loan', 'personal_loan' columns should be answering 'yes' or 'no' question, I will check why they have 3 unique values instead of 2.

## Data Cleaning

### 1. Handle ambigurous values such as 'unknown'

In [10]:
# Check value_counts for 'credit_default', 'housing_loan', 'personal_loan' columns
for col in ['credit_default','housing_loan','personal_loan']:
    print(col,':')
    print(df_bank[col].value_counts())
    print('-----------------------------------')

credit_default :
no         32588
unknown     8597
yes            3
Name: credit_default, dtype: int64
-----------------------------------
housing_loan :
yes        21576
no         18622
unknown      990
Name: housing_loan, dtype: int64
-----------------------------------
personal_loan :
no         33950
yes         6248
unknown      990
Name: personal_loan, dtype: int64
-----------------------------------

In [11]:
# I will firstly deal with the ambigurous values like 'unknown' in 'housing_loan' and 'personal_loan' columns
# The 'credit_default' column will be handled later as it is more complicated.

In [12]:
# Since both 'houing_loan' and 'personal_loan' has 990 'unknown' values, check if the 'unknown' values occurred to 
# the same clients
df_bank[df_bank['housing_loan']=='unknown']['personal_loan'].value_counts()

# The result below shows that the 'unknown' values of 'housing_loan' and 'personal_loan' occurred to the same clients

unknown    990
Name: personal_loan, dtype: int64

In [13]:
# Drop the 990 rows that contain 'unknown' values in 'housing_loan' and 'personal_loan' columns. Because to some 
# extend 'unknown' make these columns' characteristics more vague. And removing these 'unknown' values is not going to
# have great impact on the prediction as they are only small part of the data.

df_bank.drop(df_bank[df_bank['housing_loan'] == 'unknown'].index, inplace=True)

In [14]:
# Check if the rows has been droped
print(df_bank['housing_loan'].value_counts())
print(df_bank['personal_loan'].value_counts())

yes    21576
no     18622
Name: housing_loan, dtype: int64
no     33950
yes     6248
Name: personal_loan, dtype: int64

### 2. Convert categorical columns that contains binary values to numeric columns

In [15]:
# Convert the columns 'housing_loan' and 'personal_loan' into numeric type
df_bank['housing_loan'] = df_bank['housing_loan'].map(lambda x: 1 if x =='yes' else 0)
df_bank['personal_loan'] = df_bank['personal_loan'].map(lambda x: 1 if x =='yes' else 0)
print(df_bank['housing_loan'].value_counts())
print(df_bank['personal_loan'].value_counts())

1    21576
0    18622
Name: housing_loan, dtype: int64
0    33950
1     6248
Name: personal_loan, dtype: int64

In [16]:
# Convert the target 'y' column into numeric type
df_bank['y'] = df_bank['y'].map(lambda x: 1 if x =='yes' else 0)
df_bank['y'].value_counts()

0    35665
1     4533
Name: y, dtype: int64

### 3. Handle columns that has imbalance data

In [17]:
# The bigest issue of 'credit_default' column is that it contains very uneven data. Large proportion of the data is
# 'no', only 3 of the data is 'yes', and 8597 is 'unknown'.

# I personally view the â€˜credit_defaultâ€™ as a strong predictor. Therefore although the data is not ideally clear and 
# balance, I still hope to keep this column as a feature for the prediction, instead of excluding it from the dataset.

# As 21% of the data are 'unknown', I don't want to drop them. Can I reasonably turn them into 'yes' or 'no'?
# Can I build a satisfied classifier to classify the 'unknown' to 'yes' or 'no'?

In [18]:
# Let's try handle the 'unknown' values in 'credit_default' column by classification

# Firstly, subset the data, only include the variables that may has effect on 'credit_default'
df_default = df_bank[['age', 'job', 'marital', 'education', 'credit_default', 'housing_loan', 'personal_loan',
                             'previous_campaign_outcome', 'employment_variation_rate', 'consumer_price_index', 
                             'consumer_confidence_index', 'euribor_3m_rate', 'num_of_employees']].copy()

In [19]:
# Check the shape of the dataframe before transform categorical features
df_default.shape

(40198, 13)

In [20]:
# Convert all categorical features (except 'credit_default') to binary features 

# Generate dummy coded columns for the categorical columns
categories_list = ['job', 'marital', 'education', 'previous_campaign_outcome']
df_default_cleaned = df_default
for col in categories_list:
    col_dummy = pd.get_dummies(df_default[col], prefix=col)
    df_default_cleaned = pd.concat([df_default_cleaned, col_dummy], axis=1)

# Check the shape of the new dataset
df_default_cleaned.shape

(40198, 40)

In [21]:
# Drop the original object type columns from the dataframe
for col in categories_list:
    df_default_cleaned.drop(col, axis=1, inplace=True)
df_default_cleaned.shape

(40198, 36)

In [22]:
# Split the dataframe into two subsets
# The subset 'credit_default'=='unknown' is for classifying later
default_unknown = df_default_cleaned[df_default_cleaned['credit_default']=='unknown']
# The subset 'credit_default'!='unknown' is for training and testing a classifier
default_known = df_default_cleaned[df_default_cleaned['credit_default'] !='unknown']

print(default_unknown.shape)
print(default_known.shape)

(8370, 36)
(31828, 36)

In [23]:
# Convert the 'credit_default' values of the subset default_known to binary values
default_known['credit_default'] = default_known['credit_default'].map(lambda x: 1 if x =='yes' else 0)
default_known['credit_default'].value_counts()

/Users/carolcheng/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0    31825
1        3
Name: credit_default, dtype: int64

In [24]:
# Create the target vector and predict matrix
y = default_known['credit_default']
features = list(default_known.columns)
features.remove('credit_default')
X = default_known[features]

In [25]:
# Standardize the predictor matrix

from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
X_stad = ss.fit_transform(X)

In [26]:
from sklearn.model_selection import StratifiedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

In [27]:
# Use Knn model for the classification
knn = KNeighborsClassifier(n_neighbors=5)
scores = cross_val_score(knn, X_stad, y, cv=5)
print("Cross-validated scores:", scores)

/Users/carolcheng/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 3 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

Cross-validated scores: [0.99984292 0.99984292 0.99984292 1.         1.        ]

In [28]:
# Adjust the argument 'cv' for cross validation according to the warning message
knn = KNeighborsClassifier(n_neighbors=5)
scores = cross_val_score(knn, X_stad, y, cv=3)
print("Cross-validated scores:", scores)

Cross-validated scores: [0.99990575 0.99990574 0.99990574]

In [29]:
# Change n_neighbors number to see if the model can perform better 
knn = KNeighborsClassifier(n_neighbors=10)
scores = cross_val_score(knn, X_stad, y, cv=3)
print("Cross-validated scores:", scores)

Cross-validated scores: [0.99990575 0.99990574 0.99990574]

In [30]:
# Calculate the "baseline" accuracy
baseline = 1 - np.mean(y)
print('baseline:', baseline)

baseline: 0.9999057433706171

In [31]:
# The knn doesn't perform better than baseline. Can I use GridSearch to improve the performance?
from sklearn.model_selection import GridSearchCV
knn_params = {
    'n_neighbors':[1,3,5,9,15,21],
    'weights':['uniform','distance'],
    'metric':['euclidean','manhattan'],
    'algorithm':['auto', 'ball_tree', 'kd_tree', 'brute']
}
knn_gridsearch = GridSearchCV(KNeighborsClassifier(), knn_params, cv=3, verbose=1)
knn_gridsearch.fit(X_stad, y)

Fitting 3 folds for each of 96 candidates, totalling 288 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

KeyboardInterrupt:

In [122]:
# Print out the set of hyperparameters that achieved the best score.
knn_gridsearch.best_params_

{'algorithm': 'auto',
 'metric': 'euclidean',
 'n_neighbors': 3,
 'weights': 'uniform'}

In [123]:
# Print out the best score found in the search
knn_gridsearch.best_score_

0.9999057433706171

In [31]:
# The performance of the classifier is still not better than baseline

In [32]:
# Check the target 'y' values for the clients who has credit in default
# A person who failed to repay his debt supposes will not or not be able to purchase a term deposit product. I just
# check to confirm my assumption
df_bank[df_bank['credit_default']=='yes']['y']

# The result shows all of the three clients didn't purchase the term deposit

21580    0
21581    0
24866    0
Name: y, dtype: int64

In [33]:
# As the 'credit_default' column only contains 3 'yes' values, too less to train a model to classify 'unknown' into 
# 'yes' or 'no' class. 

# I decided remove the data that has 'yes' in 'credit_default' columns, and use 'no' and 'unknown' data as predictors.

# When predict whether or not a client will purchase the product, if the client has credit in default, I will suggest 
# directly classify the target as 'no'. Because 'credit_default_yes' itself is a very strong predictor, people who has
# credit in default is very unlikely to purchase any term deposit product.

In [28]:
# Before I drop the entries that 'credit_default' is 'yes', I will draw them out in case later I need it for analysis.
default_yes = df_bank[df_bank['credit_default']=='yes']
default_yes

,age,job,marital,education,credit_default,housing_loan,personal_loan,contact,last_contact_month,last_contact_day,...,campaign_contact_times,days_from_last_contact,previous_campaign_contact,previous_campaign_outcome,employment_variation_rate,consumer_price_index,consumer_confidence_index,euribor_3m_rate,num_of_employees,y
21580,48,technician,married,professional.course,yes,0,0,cellular,aug,tue,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
21581,48,technician,married,professional.course,yes,1,0,cellular,aug,tue,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
24866,31,unemployed,married,high.school,yes,0,0,cellular,nov,tue,...,2,999,1,failure,-0.1,93.200,-42.0,4.153,5195.8,0

In [34]:
# Check value_counts for all columns to see if any other imbalance data
for col in df_bank.columns:
    print(col,':')
    print(df_bank[col].value_counts())
    print('---------------------------------')

age :
31    1904
32    1793
33    1774
36    1740
35    1718
      ...
89       2
91       2
87       1
94       1
95       1
Name: age, Length: 78, dtype: int64
---------------------------------
job :
admin.           10195
blue-collar       9014
technician        6596
services          3868
management        2853
retired           1676
entrepreneur      1420
self-employed     1381
housemaid         1031
unemployed         987
student            852
unknown            325
Name: job, dtype: int64
---------------------------------
marital :
married     24340
single      11288
divorced     4491
unknown        79
Name: marital, dtype: int64
---------------------------------
education :
university.degree      11891
high.school             9295
basic.9y                5894
professional.course     5118
basic.4y                4059
basic.6y                2232
unknown                 1691
illiterate                18
Name: education, dtype: int64
---------------------------------
credit_default :
no         31825
unknown     8370
yes            3
Name: credit_default, dtype: int64
---------------------------------
housing_loan :
1    21576
0    18622
Name: housing_loan, dtype: int64
---------------------------------
personal_loan :
0    33950
1     6248
Name: personal_loan, dtype: int64
---------------------------------
contact :
cellular     25583
telephone    14615
Name: contact, dtype: int64
---------------------------------
last_contact_month :
may    13419
jul     7027
aug     6048
jun     5143
nov     4025
apr     2574
oct      698
sep      554
mar      534
dec      176
Name: last_contact_month, dtype: int64
---------------------------------
last_contact_day :
thu    8434
mon    8323
wed    7937
tue    7880
fri    7624
Name: last_contact_day, dtype: int64
---------------------------------
last_contact_duration :
85      169
90      167
136     160
73      159
87      159
       ...
1140      1
1108      1
980       1
4918      1
2015      1
Name: last_contact_duration, Length: 1535, dtype: int64
---------------------------------
campaign_contact_times :
1     17227
2     10305
3      5204
4      2586
5      1571
6       960
7       614
8       391
9       274
10      217
11      176
12      120
13       89
14       66
17       57
15       49
16       49
18       33
20       30
19       25
21       23
22       17
23       16
24       15
27       11
29       10
28        8
25        8
26        8
31        7
30        7
35        5
33        4
32        4
34        3
40        2
42        2
43        2
37        1
39        1
41        1
Name: campaign_contact_times, dtype: int64
---------------------------------
days_from_last_contact :
999    38717
3        429
6        404
4        115
9         62
2         60
7         58
12        56
10        48
5         46
13        36
11        28
1         26
15        24
14        20
8         16
0         15
16        11
17         8
18         7
19         3
22         3
21         2
26         1
20         1
25         1
27         1
Name: days_from_last_contact, dtype: int64
---------------------------------
previous_campaign_contact :
0    34712
1     4451
2      736
3      209
4       66
5       18
6        5
7        1
Name: previous_campaign_contact, dtype: int64
---------------------------------
previous_campaign_outcome :
nonexistent    34712
failure         4141
success         1345
Name: previous_campaign_outcome, dtype: int64
---------------------------------
employment_variation_rate :
 1.4    15850
-1.8     8984
 1.1     7543
-0.1     3616
-2.9     1613
-3.4     1046
-1.7      755
-1.1      615
-3.0      166
-0.2       10
Name: employment_variation_rate, dtype: int64
---------------------------------
consumer_price_index :
93.994    7543
93.918    6549
92.893    5670
93.444    5073
94.465    4228
93.200    3550
93.075    2402
92.201     750
92.963     689
92.431     435
92.649     348
94.215     304
94.199     291
92.843     276
92.379     263
93.369     258
94.055     226
94.027     225
93.876     206
94.601     197
92.469     174
93.749     172
92.713     166
94.767     127
93.798      66
92.756      10
Name: consumer_price_index, dtype: int64
---------------------------------
consumer_confidence_index :
-36.4    7543
-42.7    6549
-46.2    5670
-36.1    5073
-41.8    4228
-42.0    3550
-47.1    2402
-31.4     750
-40.8     689
-26.9     435
-30.1     348
-40.3     304
-37.5     291
-50.0     276
-29.8     263
-34.8     258
-39.8     226
-38.3     225
-40.0     206
-49.5     197
-33.6     174
-34.6     172
-33.0     166
-50.8     127
-40.4      66
-45.9      10
Name: consumer_confidence_index, dtype: int64
---------------------------------
euribor_3m_rate :
4.857    2804
4.962    2545
4.963    2437
4.961    1850
4.856    1159
         ...
3.053       1
0.996       1
0.921       1
3.488       1
3.669       1
Name: euribor_3m_rate, Length: 316, dtype: int64
---------------------------------
num_of_employees :
5228.1    15850
5099.1     8348
5191.0     7543
5195.8     3616
5076.2     1613
5017.5     1046
4991.6      755
5008.7      636
4963.6      615
5023.5      166
5176.3       10
Name: num_of_employees, dtype: int64
---------------------------------
y :
0    35665
1     4533
Name: y, dtype: int64
---------------------------------

In [35]:
# For categorical variables, the values that has too less data can cause issue such as overfitting for modeling
# Therefore I will remove these data ('marital': 'unknown' 79, 'education': 'illiterate' 18)

df_bank.drop(df_bank[df_bank['credit_default']=='yes'].index, inplace=True)
df_bank.drop(df_bank[df_bank['marital'] == 'unknown'].index, inplace=True)
df_bank.drop(df_bank[df_bank['education'] == 'illiterate'].index, inplace=True)

# Check if the expected data has been droped
print(df_bank['credit_default'].value_counts())
print('---------------------------------')
print(df_bank['marital'].value_counts())
print('---------------------------------')
print(df_bank['education'].value_counts())

no         31746
unknown     8352
Name: credit_default, dtype: int64
---------------------------------
married     24322
single      11287
divorced     4489
Name: marital, dtype: int64
---------------------------------
university.degree      11860
high.school             9280
basic.9y                5886
professional.course     5110
basic.4y                4054
basic.6y                2226
unknown                 1682
Name: education, dtype: int64

In [36]:
# Check all the columns again after the data cleaning
get_columns_info(df_bank)

                              type num_unique_values
age                          int64                78
previous_campaign_contact    int64                 8
days_from_last_contact       int64                27
campaign_contact_times       int64                41
personal_loan                int64                 2
last_contact_duration        int64              1534
housing_loan                 int64                 2
y                            int64                 2
num_of_employees           float64                11
employment_variation_rate  float64                10
consumer_price_index       float64                26
consumer_confidence_index  float64                26
euribor_3m_rate            float64               316
credit_default              object                 2
contact                     object                 2
last_contact_month          object                10
last_contact_day            object                 5
education                   object                 7
marital                     object                 3
job                         object                12
previous_campaign_outcome   object                 3

In [37]:
# The data looks cleaned. Export and save the data to a csv file for later use
df_bank.to_csv('data_cleaned.csv')